@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lab.Demo.MVC</h1>

    <p>
        <a href="/Categories" class="btn btn-primary btn-lg">Lista de Categorias</a>
    </p>
</div>

